/* ----- General Styles ----- */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	/*text-align: center;*/
}

.flex {
	display: flex;
}


/* ----- Main Section ----- */
main {
	padding-top: 69px;
}

/* ----- Header & Navigation ----- */
header {
	height: 69px;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid seashell;
	background: black;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}
header .logo {
	height: 50px;
}
header nav a {
	margin-left: 50px;
	text-decoration: underline;
	color: seashell;
}




/* ----- Our Mission Section ----- */
#mission-background {
	background: url("../img/img-mission-background.jpg") no-repeat center center;
	margin-top: 0;
	height: 700px;
	align-items: center;
	justify-content: center;
	/*border: 1px solid orange;*/
}

.mission-headings {
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	background: black;
	height: 120px;
	/*margin-top: 100px;*/
	width: 1200px;
}


/* ----- Featured Tea Section ----- */
#featured-tea {
	width: 1000px;
}
#featured-tea img {
	width: 300px;
	height: 200px;
}



/* ----- Locations Section ----- */
#locations {
	height: 500px;
	background: url("../img/img-locations-background.jpg") no-repeat center center;
}















